body
{
    color: deepskyblue;
    text-align: center;
    font-family: "Arial"
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ccc;
    margin: 0 auto;
}