body
{
    color: deepskyblue;
    text-align: center;
    font-family: "Arial"
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ccc;
    margin: 0 auto;
}
#cabecera
{
    color: #F14520;
    font-size: 2rem;
}
#subtitulo
{
    font-size: 1rem;
}